<h2 class='text-center'>ABOUT</h2>
<div class='row'>
  <div class='col'>
    <h2 class='text-center'>
      These things happen automatically. All you have to do is just let them happen. Follow the lay of the land. It's most important. Just go out and talk to a tree. Make friends with it.
    </h2>
    <h3>
      A big strong tree needs big strong roots. Once you learn the technique, ohhh! Turn you loose on the world; you become a tiger. You create the dream - then you bring it into your world. I get carried away with this brush cleaning.
      It's a super day, so why not make a beautiful sky? Just let this happen. We just let this flow right out of our minds. And just raise cain.
      Let your imagination just wonder around when you're doing these things. You're meant to have fun in life. You have freedom here. The only guide is your heart.
      Just go out and talk to a tree. Make friends with it. The only prerequisite is that it makes you happy. If it makes you happy then it's good. Without washing the brush, I'm gonna go right into some Van Dyke Brown, some Burnt Umber, and a little bit of Sap Green. In this world, everything can be happy. A fan brush can be your best friend. There comes a nice little fluffer.
    </h3>
    <h4>This was generated using Bob Ross Ipsum Lorem generator</h4>
  </div>
</div>
