<h2 class='text-center'>ABOUT</h2>
<div class='row'>
  <div class='col text-center'>
    <h2>Insert some mission statement here</h2>
    <h3>Insert some company description here</h3>
  </div>
</div>
<div style="height: 600px"></div>
<div class='row'>
  <div class='col text-center'>
    <h6>uno</h6>
  </div>
</div>
<div class='row'>
  <div class='col text-center'>
    <h5>Dos</h5>
  </div>
</div>
<div class='row'>
  <div class='col text-center'>
    <h4><b>Tres</b></h4>
  </div>
</div>
<div class='row'>
  <div class='col text-center'>
    <h3>CUATRO</h3>
    <h5>Maximum entertainment: Minimum Effort Edition</h5>
  </div>
</div>
<div class='row text-center'>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/wqFx8LLDFAI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h1>I'm sorry lol, no direction so I just Googled something random</h1>
  <h4>For something entertaining more related to coding, check out <%= link_to 'Code Bullet', 'tiny.cc/9v6mbz' %> on YouTube</h4>
</div>
<footer class='page-footer font-small blue pt-4' style='position: sticky; bottom: 0; height: 10vh; color: white; background-color: grey; opacity: 0.7 '>
  <div class='row'>
    <div class='col-xs-3'>
      <p>111 Example Street</p>
      <p>Example City</p>
      <p>Example Country, A1B2C3</p>
    </div>
    <div class='col-xs-3 offset-xs-3'>
      <p>Phone Number</p>
    </div>
  </div>
</footer>
